<html>
	<head>
		<title>Angular DOM</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<ul class="navbar">
				<li><a href="#" ng-class="homeClass" ng-click="update('home')">Home</a></li>
				<li><a href="#" ng-class="aboutClass" ng-click="update('about')">About Us</a></li>
				<li><a href="#" ng-class="contactClass" ng-click="update('contact')">Contact Us</a></li>
			</ul>
			<div class="content" ng-include="'views/home.htm'" ng-show="homeClass=='active'"></div>
			<div class="content" ng-include="'views/about.htm'" ng-show="aboutClass=='active'"></div>
			<div class="content" ng-include="'views/contact.htm'" ng-show="contactClass=='active'"></div>
		</div>
	</body>
</html>
